body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:lavender;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-item {
    margin: 0 15px;
  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navbar-item a:hover {
    color: #ff9800; /* Color de resaltado al pasar el ratón */
  }
  
aside {
    width: 250px;
    padding: 20px;
    background-color: #f4f4f4;
    border-left: 2px solid #ccc;
}
